automation:
  #if garage door left open, send a push notification.
  - alias: Garage - Notify If Garage Door Left Open For 5 Minutes
    trigger:
      platform: time_pattern
      minutes: '/1' #run every minute
    condition:
      condition: or
      conditions:
        - condition: state
          entity_id: cover.aeon_labs_zw062_garage_door_controller_barrier_state_label
          state: 'open'
          for:
            minutes: 5
    action:
      - service: notify.pushbullet
        data:
          message: Garage door was left open.

  #In case I've manually disabled the garage door alerting notification, re-enable it when the garage door closes
  - alias: Garage - Activate Garage Door Alert Automation When Garage Door Closed
    trigger:
      platform: state
      entity_id: cover.aeon_labs_zw062_garage_door_controller_barrier_state_label
      to: "closed"
    action:
      - service: automation.turn_on
        entity_id:
          - automation.garage_notify_if_garage_door_left_open_for_5_minutes
    
  #if garage door unreachable, send a push notification.
  - alias: Garage - Notify If Garage Door Is Unreachable
    trigger:
      platform: time_pattern
      minutes: '/1' #run every minute
    condition:
      condition: or
      conditions:
        - condition: state
          entity_id: cover.aeon_labs_zw062_garage_door_controller_barrier_state_label
          state: 'unknown'
          for:
            minutes: 5
    action:
      - service: notify.pushbullet
        data:
          message: Garage door cannot be reached.
          
  #if not closing garage when leaving home, send a notification. 
  - alias: Garage - Notify If Garage Door Left Open When Leaving Home
    trigger:
      platform: zone
      entity_id: device_tracker.michael_michaelgalaxys10_2
      zone: zone.home
      event: leave
    condition:
      condition: or
      conditions:
        - condition: state
          entity_id: cover.aeon_labs_zw062_garage_door_controller_barrier_state_label
          state: 'open'
    action:
      - service: notify.pushbullet
        data:
          message: Garage door was left open.

  - alias: Front Hall - Turn On Hallway Light If Garage Opened After Sunset
    trigger:
      platform: state
      entity_id: cover.aeon_labs_zw062_garage_door_controller_barrier_state_label
    condition:
      condition: and
      conditions:
        - condition: state  # from sunset until sunrise
          entity_id: sun.sun
          state: 'below_horizon'
        - condition: or
          conditions:
            - condition: state
              entity_id: cover.aeon_labs_zw062_garage_door_controller_barrier_state_label
              state: 'open'
            - condition: state
              entity_id: cover.aeon_labs_zw062_garage_door_controller_barrier_state_label
              state: 'opening'
    action:
      - service: light.turn_on
        entity_id:
          - light.entry_hall_lights

  - alias: Front Hall - Turn On Hallway Light If Front Door Opened After Sunset
    trigger:
      platform: state
      entity_id: sensor.front_door
    condition:
      condition: and
      conditions:
        - condition: state  # from sunset until sunrise
          entity_id: sun.sun
          state: 'below_horizon'
        - condition: state
          entity_id: sensor.front_door
          state: 'Open'
    action:
      - service: light.turn_on
        entity_id:
          - light.entry_hall_lights
          

