[submodule "bramkragten_custom-ui"]
	path = dependent_projects/bramkragten_custom-ui
	url = https://github.com/bramkragten/custom-ui.git
[submodule "bom_forecast"]
	path = dependent_projects/bom_forecast
	url = https://github.com/bremor/bom_forecast.git
[submodule "mini-media-player"]
	path = dependent_projects/mini-media-player
	url = https://github.com/kalkih/mini-media-player.git
[submodule "goodwe-sems-home-assistant"]
	path = dependent_projects/goodwe-sems-home-assistant
	url = https://github.com/TimSoethout/goodwe-sems-home-assistant.git
[submodule "secondaryinfo-entity-row"]
	path = dependent_projects/secondaryinfo-entity-row
	url = https://github.com/custom-cards/secondaryinfo-entity-row.git
[submodule "home-assistant-customizer"]
	path = dependent_projects/home-assistant-customizer
	url = https://github.com/andrey-git/home-assistant-customizer.git
[submodule "Todoist-List"]
	path = dependent_projects/Todoist-List
	url = https://github.com/Letherwin/Todoist-List.git
[submodule "GoogleMusic_HomeAssistant"]
	path = dependent_projects/GoogleMusic_HomeAssistant
	url = https://github.com/tprelog/GoogleMusic_HomeAssistant.git
[submodule "vertical-stack-in-card"]
	path = dependent_projects/vertical-stack-in-card
	url = https://github.com/custom-cards/vertical-stack-in-card.git
[submodule "GoogleGeocode-HASS"]
	path = dependent_projects/GoogleGeocode-HASS
	url = https://github.com/michaelmcarthur/GoogleGeocode-HASS.git
[submodule "breaking_changes"]
	path = dependent_projects/breaking_changes
	url = https://github.com/custom-components/breaking_changes.git
[submodule "homeassistant-elasticsearch"]
	path = dependent_projects/homeassistant-elasticsearch
	url = https://github.com/legrego/homeassistant-elasticsearch.git
[submodule "dependent_projects/hass-variables"]
	path = dependent_projects/hass-variables
	url = https://github.com/rogro82/hass-variables.git
