[submodule "bramkragten_custom-ui"]
	path = bramkragten_custom-ui
	url = https://github.com/bramkragten/custom-ui.git
[submodule "bom_forecast"]
	path = bom_forecast
	url = https://github.com/bremor/bom_forecast.git
[submodule "mini-media-player"]
	path = mini-media-player
	url = https://github.com/kalkih/mini-media-player.git
[submodule "goodwe-sems-home-assistant"]
	path = goodwe-sems-home-assistant
	url = https://github.com/TimSoethout/goodwe-sems-home-assistant.git
[submodule "secondaryinfo-entity-row"]
	path = secondaryinfo-entity-row
	url = https://github.com/custom-cards/secondaryinfo-entity-row.git
[submodule "home-assistant-customizer"]
	path = home-assistant-customizer
	url = https://github.com/andrey-git/home-assistant-customizer.git
[submodule "Todoist-List"]
	path = Todoist-List
	url = https://github.com/Letherwin/Todoist-List.git
[submodule "GoogleMusic_HomeAssistant"]
	path = GoogleMusic_HomeAssistant
	url = https://github.com/tprelog/GoogleMusic_HomeAssistant.git
[submodule "vertical-stack-in-card"]
	path = vertical-stack-in-card
	url = https://github.com/custom-cards/vertical-stack-in-card.git
[submodule "GoogleGeocode-HASS"]
	path = GoogleGeocode-HASS
	url = https://github.com/michaelmcarthur/GoogleGeocode-HASS.git
[submodule "breaking_changes"]
	path = breaking_changes
	url = https://github.com/custom-components/breaking_changes.git
[submodule "homeassistant-elasticsearch"]
	path = homeassistant-elasticsearch
	url = https://github.com/legrego/homeassistant-elasticsearch.git
