[submodule "bramkragten_custom-ui"]
	path = bramkragten_custom-ui
	url = https://github.com/bramkragten/custom-ui.git
[submodule "bom_forecast"]
	path = bom_forecast
	url = https://github.com/bremor/bom_forecast.git
[submodule "mini-media-player"]
	path = mini-media-player
	url = https://github.com/kalkih/mini-media-player.git
