
# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/

alarmdotcom_username: xxxxxxxxxx
alarmdotcom_password: xxxxxxxxxx

sems_username: xxxxxxxxxx
sems_password: xxxxxxxxxx
sems_station_id: xxxxxxxxxx

todoist_api_key: xxxxxxxxxx

pushbullet_api_key: xxxxxxxxxx

zone_home_latitude: 0.000000
zone_home_longitude: 0.000000
zone_michael_work_latitude: 0.000000
zone_michael_work_longitude: 0.000000

google_maps_api_key: xxxxxxxxxx

broadlink_mac_address: 'xxxxxxxxxx'
broadlink_ip_address: 10.0.0.0

hue_bridge_ip_address: 10.0.0.0

motioneye_still_image_url: http://10.0.0.0/url
motioneye_mjpeg_url: http://10.0.0.0:xxxx
motioneye_username: xxxxxxxxxx
motioneye_password: xxxxxxxxxx

chromecast_theatre_ip_address: 10.0.0.0
chromecast_living_room_ip_address: 10.0.0.0
chromecast_audio_pc_ip_address: 10.0.0.0

google_home_bedroom__ip_address: 10.0.0.0
google_home_kitchen_ip_address: 10.0.0.0
google_home_office_ip_address: 10.0.0.0
google_home_ensuite_ip_address: 10.0.0.0
google_home_theatre_ip_address: 10.0.0.0

github_token: xxxxxxxxxx
hass_upgrade_webhook: xxxxxxxxxx
haversionupdate_ssh_key_location: xxxxxxxxxx
haversionupdate_ssh_connection_string: xxxxxxxxxx@10.0.0.0
haversionupdate_docker_compose_location: xxxxxxxxxx

healthcheckio_ping_location: http://10.0.0.0:000/url

device_michael_phone_ip_address: 10.0.0.0
device_laura_phone_ip_address: 10.0.0.0
device_michael_pc_ip_address: 10.0.0.0

assistant_relay_location: http://10.0.0.0:000/url
assistant_relay_user: xxxxxxxxxx